{{#each reminders}}
<div style="margin-bottom: 15px;">
    id: {{id}}</br>
    title: {{title}}<br>
    reminder: {{notes}} <br>
    priority: {{priority}} {{#displayPriority priority}}{{/displayPriority}}<br>
    due date: {{dueDate}} <br>
</div>
{{/each}}