<div class="list-container">
    {{#each reminders}}
        <div class="container">
            <div class="first-column">
                {{#if dueDate}}
                    {{formatDate dueDate}}
                {{else}}
                    Someday
                {{/if}}
            </div>
            <div class="second-column">
                <div class="title-symbol-container">
                    <div class="title">
                        {{title}}
                    </div>
                    <div class="priority-symbol-container">
                        {{#displayPriority priority}}{{/displayPriority}}
                    </div>
                </div>
            </div>
            <div class="third-column">
                <button reminder-id="{{id}}" class="btn btn-edit">Edit</button>
            </div>

            <div class="first-column second-row">
                <input
                        reminder-id="{{id}}"
                        type="checkbox"
                        {{#if finished}}checked{{/if}}
                >
                {{#if finished}} <span>[{{formatDate finishDate}}]</span> {{/if}}
            </div>
            <div class="second-column notes second-row">
                {{notes}}
            </div>

        </div>
    {{/each}}
</div>
